<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="FunctionalAccount" value="SCIN-IAPCRET@shell.com"/>
    <add key="MailServer" value="spdc-smtp1.africa-me.shell.com"/>
    <add key="MailUsername" value="mail username "/>
    <add key="MailPassword" value="mail password"/>
    <add key="MailFrom" value="isaac.bejide@shell.com"/>
    <add key="EnableErrorLogEmail" value="true"/>
    <add key="ErrorLogEmail" value="isaac.bejide@shell.com"/>
    <add key="ProductsPerPage" value="6"/>
    <add key="ProductDescriptionLength" value="60"/>
    <add key="SiteName" value="CPDMS - Integrated Activity Planning"/>
    <!--<add key="DevelopmentEnvironment" value="phc-v-01010"/>-->
    <add key="SiteHostName" value="sww.scin.cpdms.shell.com"/>
    <add key="iap.admin.mail" value="isaac.bejide@shell.com"/>
    <add key="iap.admin.name" value="Isaac , Bejide"/>
    <add key="iap.admin.ext" value="+2348070224772"/>
    <add key="SiteShortName" value="IAP"/>
    <add key="AppNameId" value="Integrated Activity Plan Change Request"/>
    <add key="cpdms.BccAdmin" value="False"/>
    <!-- Menu Layout -->
    <add key="AdminMenu" value="AdminProvider"/>
    <add key="ActivityOwnerMenu" value="ActivityOwnerProvider"/>
    <add key="ApproversMenu" value="ApproversProvider"/>
    <add key="PlannersMenu" value="PlannersProvider"/>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.Skin" value="Silk"/>
    <add key="DBResetHours" value="2"/>
    <add key="Telerik.Web.UI.StyleSheetFolders" value="~/Common/Styles/; ~/Common/Highlighter/styles"/>
    <add key="Telerik.Web.UI.ScriptFolders" value="~/Common/Highlighter/scripts;"/>
    <!--<add key="Telerik.Web.Examples.EditorExamples.ItemHandler" value="~/Editor/Examples/DBFileBrowserContentProvider/Handler.ashx"/>-->
    <add key="Telerik.QSF.DeviceInfoTrackingKey" value="Enabled"/>
    <add key="YoutubeApiKey" value="AIzaSyAcNpaOb0SMLQ1ye0cIhwnf-3QOsmVlqvY"/>
    <add key="Telerik.Web.UI.RenderMode" value="Lightweight"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="IAPConnectionString" connectionString="Data Source=localhost;Persist Security Info=True;User ID=rpi;Password=rpi; Unicode=True" providerName="System.Data.OracleClient" />
        <add name="productionConnectionString" connectionString="Data Source=PHC-N-S00157:1648/BUSAPP.WORLD; Password=PeC7cpdm; User ID=PEC_PROD;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="IAPConnectionString" connectionString="user id=PEC_PROD;password=PeC7cpdm;data source=PHC-N-S00157:1648/BUSAPP.WORLD" providerName="System.Data.OracleClient"/>-->
    <add name="IAP_P6DConnectionString" connectionString="user id=;password=;data source=UIGSPRIT.WORLD" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="IAPConnectionString" connectionString="user id=PEC_PROD;password=PeC7cpdm;data source=BUSAPP_P.WORLD" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="180"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows">
      <forms loginUrl="Default.aspx?Msg=nLg" name="authOpex" timeout="180" path="/" defaultUrl="Index.aspx?Msg=sWb" slidingExpiration="true"/>
    </authentication>
    <!--<identity impersonate="false"/>-->
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Telerik.Windows.Documents.Flow, Version=2016.3.1021.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7"/>
        <add assembly="Telerik.Windows.Documents.Core, Version=2016.3.1021.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7"/>
        <add assembly="Telerik.Windows.Documents.Spreadsheet, Version=2016.3.1021.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml, Version=2016.3.1021.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
      <codeSubDirectories>
        <add directoryName="CS"/>
        <add directoryName="VB"/>
      </codeSubDirectories>
    </compilation>
    <siteMap defaultProvider="AdminProvider">
      <providers>
        <clear/>
        <add name="AdminProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdmin.sitemap"/>
        <add name="ActivityOwnerProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuActivityOwner.sitemap"/>
        <add name="ApproversProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuApprovers.sitemap"/>
        <add name="PlannersProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuPlanners.sitemap"/>
      </providers>
    </siteMap>
    <pages styleSheetTheme="DataWebControls" enableEventValidation="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
        <add namespace="System.Data.OracleClient"/>
        <add namespace="System.Net"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI"/>
      <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
      <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add verb="*" path="*.json" validate="false" type="JSONHandler"/>
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" executionTimeout="180" maxRequestLength="1048576" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode"/>
      <add name="JSON" path="*.json" verb="*" type="JSONHandler"/>
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Apps\RPIMails"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>